body
{
	font-family: 'Nova Square', cursive;
	background-color: #ffc107;
	margin: 0;
}

a
{
	text-decoration: none;
	color: #ffc107;
}

.name
{
	width: 744px;
	font-size: 150px;
	color: black;
	margin-top: 40px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	transition: all 0.6s ease-in-out;
}

.name:hover
{
	transform: scale(1.15);
}

.easy
{
	width: 1000px;
	height: 400px;
	line-height: 400px;
	background-color: #68D7F8;
	color: #ffc107;
	font-size: 80px;
	margin-top: 140px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	cursor: pointer;	
	transition: all 0.6s ease-in-out;
}

.easy:hover
{
	transform: scale(1.0);
	border-radius: 200px;
}

.hard
{
	width: 1000px;
	height: 400px;
	line-height: 400px;
	background-color: #69FABB;
	color: #ffc107;
	font-size: 80px;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	cursor: pointer;
	transition: all 0.6s ease-in-out;
}

.hard:hover
{
	transform: scale(1.0);
	border-radius: 200px;
}

.impossible
{
	width: 1000px;
	height: 400px;
	line-height: 400px;
	background-color: #ff6666;
	color: #ffc107;
	font-size: 80px;
	margin-top: 80px;
	margin-bottom: 80px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	cursor: pointer;
	transition: all 0.6s ease-in-out;
}

.impossible:hover
{
	transform: scale(1.0);
	border-radius: 200px;
}

.footer
{
	text-align: center;
	color: black;
	height: 80px;
	line-height: 80px;
	font-size:  22px; 
}

.exit
{
	width: 800px;
	height: 200px;
	line-height: 200px;
	background-color: #ffc107;
	color: #000000;
	font-size: 80px;
	margin-top: 80px;
	margin-bottom: 80px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	cursor: pointer;
	transition: all 0.6s ease-in-out;	
}

.exit:hover
{
	transform: scale(1.2);
}